<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
>
    <php>
        <env name="ENDPOINT_SSR_AUTH" value="public.test" />
        <env name="ENDPOINT_INTERNAL_SSR_AUTH" value="private.test" />
    </php>
   <testsuites>
        <testsuite name="Module Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
